[submodule "stable-diffusion"]
	path = stable-diffusion
	url = https://github.com/CompVis/stable-diffusion.git
[submodule "pytorch-cifar100"]
	path = pytorch-cifar100
	url = https://github.com/reesekneeland/pytorch-cifar100
